<!-- ID entry form
<form [formGroup]="idForm" (ngSubmit)="onIdSubmit()">
  <p><span>ID</span></p>
  <input type="number" name="start" placeholder="start" formControlName="start">
  <div class="feedback" *ngIf="idForm['controls']['start'].errors?.min">Minimum ID is 1.</div>
  <input type="number" name="end" placeholder="end" formControlName="end">
  <input type="submit" value="Submit">
</form>
-->

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Sprite</th>
  </tr>
  <tr *ngFor="let pokemon of pokemons">
    <td>{{ pokemon.id }}</td>
    <td>{{ pokemon.name | titlecase }}</td>
    <td><img [src]="pokemon.sprites.front_default"/></td>
  </tr>
</table>
